<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{metadata.sitename}} - {{ title }}</title>
    {% if excerpt %}
    <meta name="description" content="{{excerpt|striptags}}">
    {% else %}
    <meta name="description" content="{{metadata.description}}">
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="MicahGodbolt.com Feed" href="/rss.xml" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="/css/main.css" rel="stylesheet">
    <link rel="icon"
        type="image/png"
        href="/assets/img/favicon.ico">
  </head>
  <body>
     <div class="header">
        {% block header %}
         
        {% endblock %}
    </div>
    <div class="body">
        {% block body %}

        {% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
         
        {% endblock %}
    </div>

    {% if serve %}
    <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}
    </body>
  </html>