@import '../components/navigation/navigation';
@import '../components/post/post';
@import '../components/blockquote/blockquote';
@import 'variables';

html {
    background-color: $color-page;
    font-size: calc( 16px + (8) * (100vw - 320px) / 800 ); 
    margin: 0 auto; 
    font-family: sans-serif;
    @media screen and (min-width: 820px){
        font-size: 21px;
    }
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a:not([class]) {
    color: $color-primary-light;
    text-decoration: none;
    &:hover {
        color: $color-primary-lighter;
        text-decoration: underline;
    }
}


.body, .footer {
    padding: 0 .7em;
    margin: auto;
    max-width: 820px;
}



pre {
    padding: 1em;
}
p > code, ul code {
    padding: .1em .3em;
}
pre, 
p > code, ul code {
    color: $color-page;
    background: $color-primary-light; 
    overflow-x: scroll; 
    font-size: .7em;
}
