<h2>Follow Along:</h2>
<nav>
    <ul>
        <li><a href="http://www.twitter.com/micahgodbolt">Twitter</a></li>
        <li><a href="http://www.github.com/micahgodbolt/micahgodbolt.com">Github</a></li>
        <li><a href="https://library.micahgodbolt.com">Pattern Library</a></li>
        <li><a href="https://micahgodbolt.com/rss.xml">RSS</a></li>
    </ul>
</nav>
