<article>
    <header>
        <h1 class="post-title">{{ title }}</h1>
        <time class="post-postedOn" datetime="{{ published|date("m/d/Y")}}">Posted on: <span class="post-date">{{ published|date("m/d/Y") }}</span></time>
    </header>
    {{ contents }}
</article>