$color-primary: #2c3e50;
$color-primary-light: #2980b9;
$color-primary-lighter: #3498db;
$color-secondary: #e74c3c;
$color-page: #ecf0f1;

html {
  background-color: $color-page;
  font-size: calc(16px + (8) * (100vw - 320px) / 800);
  margin: 0 auto;
  line-height: 1.4;
  font-family: 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;
  @media screen and (min-width: 820px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.post-title {
  color: $color-primary;
  font-size: 2em;
}

h2:not([class]) {
  color: $color-secondary;
}

h4:not([class]) {
  font-weight: 600;
  margin-bottom: 0.3em;
}

p:not([class]) {
  margin-top: 0;
}

a:not([class]),
.title {
  color: $color-primary-light;
  text-decoration: none;
  &:hover {
    color: $color-primary-lighter;
    text-decoration: underline;
  }
}

body {
  padding: 0 0.7em;
  margin: auto;
  max-width: 820px;
}

blockquote {
  color: $color-page;
  background: $color-primary-light;
  margin: 1em 0;
  padding: 0.5em 1em;
  p:last-child {
    margin-bottom: 0;
  }
}

nav ul {
  list-style: none;
  padding: 0;
}

pre {
  padding: 1em;
}
p > code,
ul code {
  padding: 0.1em 0.3em;
}
pre,
p > code,
ul code {
  color: $color-page;
  background: $color-primary-light;
  overflow-x: scroll;
  font-size: 0.7em;
}
